<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="${book.title}"></title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class="container mt-3">
        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
            </div>
        </div>


        <div class="row">
            <div class="col d-flex justify-content-center mt-5">
                <h1><code>Book Details</code></h1>
            </div>
        </div>

        <h2 data-th-if="${error != null}">
			Search Error <span data-th-text=${error}></span>
		</h2>

        <div class="row">
            <div class="row" data-th-if="${null == error}">
                <table class="table table-hover">
                    <tr>
                        <td><strong>Book Title</strong></td>
                        <td data-th-text="${book.title}"></td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td data-th-text="${book.description}"></td>
                    </tr>
                    <tr>
                        <td><strong>Excerpt</strong></td>
                        <td data-th-text="${book.excerpt}"></td>
                    </tr>
                    <tr>
                        <td><strong>Cached</strong></td>
                        <td data-th-text="${book.cached}"></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row">
            <div class="col d-flex justify-content-end">
                <a data-th-href="@{/}" class="btn btn-primary btn-lg">Back</a>
            </div>
        </div>

    </div>

</body>

</html>